
    html,
    body {
        height: 100%;
       
        overflow: hidden;
        

        
    }
    .bodyBackground{
        background: url("https://i.pinimg.com/736x/41/b7/07/41b707b7632118fd15807ed0bc9c85bc.jpg") no-repeat fixed center center;
        /* background: url("/images/godlike.jpg") no-repeat fixed top center; */
        background-size: cover;

    }
    .heavenBackground{
        background: url("/images/heaven.jpg") no-repeat fixed center center;
        /* background: url("/images/godlike.jpg") no-repeat fixed top center; */
        background-size: cover;
    }


    #game-preferences {
        /* position: absolute;
        top: 50%;
        transform: translate(0, -50%); */
        text-align: center;
        color: white;
        margin: auto;
        width: 100%;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:flex-start;
        overflow-y: hidden;
        height:100%;
    }

    .arrow{
        width:50px;
        height:100px;
        margin:0 auto;
        color:white;
        background-color:transparent;
        font-size:2rem;
        border:2px solid white;

    }

    .arrow:hover{
        cursor: pointer;
        background-color: rgb(78, 78, 136);
        box-shadow: 0px 0px 10px 5px rgb(78, 78, 136);
    }

    #choices {
        position:relative;
        width: 100%;
        text-align: center;
        display:flex;
        flex-direction:row; 
        transition: transform 1s;
        /* animation:flow 1s ease-in-out; */
    }

    fieldset {
        width:500px;
        margin:20% 0;
        border: 3px solid white;
        /* margin-top: 30%; */
        height: 300px;
        font-weight: bold;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    fieldset div {
        width: 445px;
        text-align: start;
        /* display:flex;
        flex-direction:row;
        justify-content:center; */
    }

    fieldset div input,
    fieldset div label {
        margin: auto;
        accent-color: black;
    }

    input[type="radio"] {
        cursor: pointer;
        transform: scale(2);


    }

    #field1{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);

    }
    #field2{
       
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(150%,-50%);
    }

    #game {
        margin: auto;
        overflow: hidden;
        /* position:relative; */
        /* display: none; */
    }

    /* #game-board {
        margin: auto;
        position:relative; */
        /* position:absolute;
        top:50%;
        right:50%;
        transform:translate(-50%,-50%);} */
    
    #founded_item{
        z-index:100;
        color:green;
        font-size:70px;
        display:block;
        position:absolute;
        margin: auto;
        text-align:center;
        top:50%;
        left:50%; 
        transform:translate(-50%,-50%); 
    }

    .row {
        text-align: center;
    }
    /* #left-arrow:active ~ #choices{
      
        transform: translateX(-75%);


    }
    #right-arrow:active #choices{
        transform:translate(75%)
    }
    @keyframes flow {
        100%{
            transform: translateX(-100%);
        }
    } */

    /* body {
        
    } */

    #results {
        margin: auto;
        /* text-align:center; */
        width: 400px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-weight: bold;


    }

    .card {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
        cursor: pointer;
        perspective: 500px;
    }

    /* .card:hover{
  box-shadow:inset 0px 0px 0px 2px red;
  box-sizing:border-box;
  
} */
    .content {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        transition: transform 1s;
        transform-style: preserve-3d;
    }

    .contentActive {
        transform: rotateY(180deg);
        transition: transform 0.5s;
        pointer-events: none;
    }

    .front,
    .back {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgb(253, 247, 247);
        background-image: url("https://cdn.britannica.com/68/195168-050-BBAE019A/football.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        line-height: 20px;
        color: #03446A;
        text-align: center;
        font-size: 10px;
        border-radius: 5px;
        backface-visibility: hidden;
    }

    .back {

        color: white;
        transform: rotateY(180deg);
    }

    #btns {
        margin: auto;
        text-align: center;
    }

    
    .textAnimation{
       animation:rightChoice 1.2s;

    }
    .unstoppable_animation{
        background-color:black;
        animation:bodyBackground 1.5s
        
    }
    .heaven_animation{
        background-color:white;
        animation:heaven 8s
    }

    .real {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/5/56/Real_Madrid_CF.svg/1200px-Real_Madrid_CF.svg.png"); */
        background-image: url("images/football/Real_Madrid.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        /*   background-color:red; */
    }

    .barcelona {
        /*   background-color:blue; */
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/4/47/FC_Barcelona_%28crest%29.svg/1200px-FC_Barcelona_%28crest%29.svg.png"); */
        background-image:url("images/football/FC_Barcelona.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .liverpool {
        /*   background-color:green; */
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/0/0c/Liverpool_FC.svg/1200px-Liverpool_FC.svg.png"); */
        background-image:url("images/football/Liverpool_FC.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .bayern {
        /*   background-color:pink; */
        /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/1200px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png"); */
        background-image:url("images/football/FC_Bayern_München.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .milan {
        /*   background-color:cyan; */
        /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Logo_of_AC_Milan.svg/1200px-Logo_of_AC_Milan.svg.png"); */
        background-image:url("images/football/Milan.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .juve {
        /*   background-color:orange; */
        /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Juventus_FC_2017_icon_%28black%29.svg/1200px-Juventus_FC_2017_icon_%28black%29.svg.png"); */
        background-image: url("images/football/Juventus.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .manunited {
        /*   background-color:yellow; */
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/7/7a/Manchester_United_FC_crest.svg/800px-Manchester_United_FC_crest.svg.png"); */
        background-image:url("images/football/Manchester_United.svg.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .inter {
        /*   background-color:teal; */
        /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/FC_Internazionale_Milano_2021.svg/1200px-FC_Internazionale_Milano_2021.svg.png"); */
        background-image: url("images/football/Inter.svg.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .chelsea {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/c/cc/Chelsea_FC.svg/1200px-Chelsea_FC.svg.png"); */
        background-image: url("images/football/Chelsea.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .dortmund {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Borussia_Dortmund_logo.svg/1200px-Borussia_Dortmund_logo.svg.png"); */
        background-image:url("images/football/Dortmund.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }

    .atletico {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/f/f4/Atletico_Madrid_2017_logo.svg/1200px-Atletico_Madrid_2017_logo.svg.png"); */
        background-image:url("images/football/Atletico_Madrid.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .porto {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/f/f1/FC_Porto.svg/1200px-FC_Porto.svg.png"); */
        background-image:url("images/football/Porto.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .ajax {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/7/79/Ajax_Amsterdam.svg/1200px-Ajax_Amsterdam.svg.png"); */
        background-image:url("images/football/Ajax.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .benfica {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/SL_Benfica_logo.svg/1200px-SL_Benfica_logo.svg.png"); */
        background-image: url("/images/football/Benfica.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .arsenal {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/5/53/Arsenal_FC.svg/1200px-Arsenal_FC.svg.png"); */
        background-image:url("images/football/Arsenal.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .psg {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/a/a7/Paris_Saint-Germain_F.C..svg/1200px-Paris_Saint-Germain_F.C..svg.png"); */
        background-image:url("images/football/PSG.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .osfp {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/el/thumb/b/b9/OSFP-logo.svg/2048px-OSFP-logo.svg.png"); */
        background-image:url("images/football/Olympiakos.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .pao {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/el/thumb/5/56/Panathinaikos_FC_logo.svg/1200px-Panathinaikos_FC_logo.svg.png"); */
        background-image: url("images/football/Panathinaikos.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .dinamo {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/1200px-FC_Dynamo_Kyiv_logo.svg.png"); */
        background-image:url("images/football/Dynamo_Kyiv.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .city {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/Manchester_City_FC_badge.svg/1200px-Manchester_City_FC_badge.svg.png"); */
        background-image:url("images/football/Manchester_City.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .marseille {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Olympique_Marseille_logo.svg/1200px-Olympique_Marseille_logo.svg.png"); */
        background-image:url("images/football/Marseille.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .galata {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Galatasaray_Sports_Club_Logo.png/822px-Galatasaray_Sports_Club_Logo.png"); */
        background-image: url("images/football/Galatasaray.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .celtic {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/3/35/Celtic_FC.svg/800px-Celtic_FC.svg.png"); */
        background-image:url("images/football/Celtic.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .rangers {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/4/43/Rangers_FC.svg/1200px-Rangers_FC.svg.png"); */
        background-image:url("images/football/Rangers.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .anderlecht {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/7/71/RSC_Anderlecht_logo.svg/1200px-RSC_Anderlecht_logo.svg.png"); */
        background-image:url("images/football/Anderlecht.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .aek {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/0/04/AEK_Athens_FC_logo.svg/1200px-AEK_Athens_FC_logo.svg.png"); */
        background-image: url("images/football/AEK.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .lyon {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/1/12/Logo_Olympique_Lyonnais_2022.png"); */
        background-image:url("images/football/Lyon.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .eindhoven {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/0/05/PSV_Eindhoven.svg/1200px-PSV_Eindhoven.svg.png"); */
        background-image: url("images/football/PSV.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .napoli {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/SSC_Neapel.svg/1200px-SSC_Neapel.svg.png"); */
        background-image:url("images/football/Napoli.svg.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .leverkusen {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/5/59/Bayer_04_Leverkusen_logo.svg/1200px-Bayer_04_Leverkusen_logo.svg.png"); */
        background-image:url("images/football/Leverkusen.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .leipzig {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/0/04/RB_Leipzig_2014_logo.svg/1200px-RB_Leipzig_2014_logo.svg.png"); */
        background-image:url("images/football/Leipzig.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .roma {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/f/f7/AS_Roma_logo_%282017%29.svg/1200px-AS_Roma_logo_%282017%29.svg.png"); */
        background-image: url("images/football/Roma.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .valencia {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/c/ce/Valenciacf.svg/1200px-Valenciacf.svg.png"); */
        background-image:url("images/football/Valencia.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .fener {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/3/39/Fenerbah%C3%A7e.svg/1200px-Fenerbah%C3%A7e.svg.png"); */
        background-image: url("images/football/Fenerbahçe.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .feyen {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/e/e3/Feyenoord_logo.svg/1200px-Feyenoord_logo.svg.png"); */
        background-image: url("images/football/Feyenoord.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .zvezda {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Grb-fk-crvena-zvezda.svg/1200px-Grb-fk-crvena-zvezda.svg.png"); */
        background-image:url("images/football/redStar.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .monaco {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/AS_Monaco_FC_Logo_2021.svg/800px-AS_Monaco_FC_Logo_2021.svg.png"); */
        background-image:url("images/football/Monaco.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .totthenham {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/b/b4/Tottenham_Hotspur.svg/1200px-Tottenham_Hotspur.svg.png"); */
        background-image: url("images/football/Tottenham.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .rosenborg {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Rosenborg_Trondheim_logo.svg/1200px-Rosenborg_Trondheim_logo.svg.png"); */
        background-image: url("images/football/Rosenborg.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .lazio {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/c/ce/S.S._Lazio_badge.svg/1200px-S.S._Lazio_badge.svg.png"); */
        background-image: url("images/football/Lazio.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sparta {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/el/thumb/a/ae/Sparta_Prague_logo.svg/1200px-Sparta_Prague_logo.svg.png"); */
        background-image: url("images/football/Sparta_Prague.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .spartak {
        /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/FC_Spartak_Moscow_Logotype.png/640px-FC_Spartak_Moscow_Logotype.png"); */
        background-image: url("images/football/Spartak_Moscow.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    /**************************************************************************************/

/*countris-flags*/
    .greece{
        background-image: url("images/countries/greece.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .germany{
        background-image: url("images/countries/germany.svg.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .italy{
        background-image: url("images/countries/italy.svg.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .france{
        background-image: url("images/countries/France.svg.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .usa{
        background-image: url("images/countries/usa.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .spain{
        background-image: url("images/countries/spain.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .russia{
        background-image: url("images/countries/Russia.svg.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .china{
        background-image: url("images/countries/China.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .brazil{
        background-image: url("images/countries/Brazil.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .portugal{
        background-image: url("images/countries/portugal.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .norway{
        background-image: url("images/countries/Norway.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .turkey{
        background-image: url("images/countries/Turkey.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .southafrica{
        background-image: url("images/countries/South-Africa.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .saudi{
        background-image: url("images/countries/Saudi_Arabia.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grbritain{
        background-image: url("images/countries/United_Kingdom.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .sweden{
        background-image: url("images/countries/sweden.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .finland{
        background-image: url("images/countries/finland.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .denmark{
        background-image: url("images/countries/denmark.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .argentina{
        background-image: url("images/countries/Argentina.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .japan{
        background-image: url("images/countries/Japan.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .cuba{
        background-image: url("images/countries/Cuba.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .newzeeland{
        background-image: url("images/countries/New-Zealand.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .mexico{
        background-image: url("images/countries/Mexico.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .chile{
        background-image: url("images/countries/chile.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .canada{
        background-image: url("images/countries/Canada.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .austria{
        background-image: url("images/countries/Austria.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .romania{
        background-image: url("images/countries/Romania.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .bulgaria{
        background-image: url("images/countries/bulgaria.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .albania{
        background-image: url("images/countries/Albania.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .croatia{
        background-image: url("images/countries/croatia.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .india{
        background-image: url("images/countries/india.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .cameroon{
        background-image: url("images/countries/Cameroon.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .morocco{
        background-image: url("images/countries/Morocco.svg.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .egypt{
        background-image: url("images/countries/Egypt.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .iraq{
        background-image: url("images/countries/Iraq.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .switzerland{
        background-image: url("images/countries/switzerland.avif");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .poland{
        background-image: url("images/countries/Poland.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .poland{
        background-image: url("images/countries/Poland.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .czech{
        background-image: url("images/countries/Czech_Republic.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .hungary{
        background-image: url("images/countries/Flag-Hungary.webp");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .northkorea{
        background-image: url("images/countries/north_korea.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .belgium{
        background-image: url("images/countries/Belgium.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
    }
    .mongolia{
        background-image: url("images/countries/Belgium.svg.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; 
    }
    /************************************END COUNTRIES***********************/
    /******************************JUNGLE******************************/
     .lion{
        background-image: url("images/jungle/lion.png");
        background-position: center;
        background-repeat: no-repeat;

    }
    .tiger{
        background-image: url("images/jungle/tiger.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .elephant{
        background-image: url("images/jungle/elephant.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .parrot{
        background-image: url("images/jungle/parrot.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .bear{
        background-image: url("images/jungle/bear.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .hippo{
        background-image: url("images/jungle/hippo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .monkey{
        background-image: url("images/jungle/monkey.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .snake{
        background-image: url("images/jungle/snake.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .lemur{
        background-image: url("images/jungle/lemur.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .gorilla{
        background-image: url("images/jungle/gorilla.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .tapir{
        background-image: url("images/jungle/tapir.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .armadillo{
        background-image: url("images/jungle/armadillo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .giraffe{
        background-image: url("images/jungle/giraffe.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .leopard{
        background-image: url("images/jungle/leopard.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .wolf{
        background-image: url("images/jungle/wolf.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .fox{
        background-image: url("images/jungle/fox.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .goose{
        background-image: url("images/jungle/goose.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .deer{
        background-image: url("images/jungle/deer.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .kangaroo{
        background-image: url("images/jungle/kangaroo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .spider{
        background-image: url("images/jungle/spider.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .turtle{
        background-image: url("images/jungle/turtle.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .camel{
        background-image: url("images/jungle/camel.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .frogey{
        background-image: url("images/jungle/frogey.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .lizard{
        background-image: url("images/jungle/lizard.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .rabbit{
        background-image: url("images/jungle/rabbit.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .crocodile{
        background-image: url("images/jungle/crocodile.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .goat{
        background-image: url("images/jungle/goat.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .bull{
        background-image: url("images/jungle/bull");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .horse{
        background-image: url("images/jungle/horse.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .whiteHorse{
        background-image: url("images/jungle/whiteHorse.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .hedgehog{
        background-image: url("images/jungle/hedgehog.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .kitten{
        background-image: url("images/jungle/kitten.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .polarBear{
        background-image: url("images/jungle/polarBear.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .mamba{
        background-image: url("images/jungle/mamba.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .labradorDog{
        background-image: url("images/jungle/labradorDog.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .mouse{
        background-image: url("images/jungle/mouse.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .whiteDuck{
        background-image: url("images/jungle/whiteDuck.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .anteater{
        background-image: url("images/jungle/anteater.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .duck{
        background-image: url("images/jungle/duck.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .blackPanther{
        background-image: url("images/jungle/blackPanther.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .jaguar{
        background-image: url("images/jungle/jaguar.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .pitbull{
        background-image: url("images/jungle/pitbull.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
/**************************************PERSONALITIES****************************************/
.aristotle{
        background-image: url("images/personalities/aristotle.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
.einstein{
        background-image: url("images/personalities/einstein.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
.napoleon{
        background-image: url("images/personalities/napoleon.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
.newton{
        background-image: url("images/personalities/newton.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
.beethoven{
        background-image: url("images/personalities/beethoven.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .churchill{
        background-image: url("images/personalities/churchill.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .lama{
        background-image: url("images/personalities/dalaiLama.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .maradona{
        background-image: url("images/personalities/Diego-Maradona-Transparent-File.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .elizabeth{
        background-image: url("images/personalities/elizabeth.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .gandhi{
        background-image: url("images/personalities/gandhi.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .hitler{
        background-image: url("images/personalities/hitler.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .marx{
        background-image: url("images/personalities/karlMarx.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .lenin{
        background-image: url("images/personalities/lenin.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .licoln{
        background-image: url("images/personalities/licoln.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .luther{
        background-image: url("images/personalities/lutherKing.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .motherTeresa{
        background-image: url("images/personalities/motherTeresa.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .picasso{
        background-image: url("images/personalities/Pablo-Picasso-PNG-HD-Quality.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .shakespeare{
        background-image: url("images/personalities/shakespeare.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .stalin{
        background-image: url("images/personalities/stalin.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .alexander{
        background-image: url("images/personalities/alexander.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .chaplin{
        background-image: url("images/personalities/chaplin.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .che{
        background-image: url("images/personalities/che.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .curie{
        background-image: url("images/personalities/curie.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .mandela{
        background-image: url("images/personalities/mandela.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .tesla{
        background-image: url("images/personalities/tesla.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .schrodinger{
        background-image: url("images/personalities/Schrödinger.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .galileo{
        background-image: url("images/personalities/galileo.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .colombus{
        background-image: url("images/personalities/colombus.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .mozart{
        background-image: url("images/personalities/mozart.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .charlemagne{
        background-image: url("images/personalities/charlemagne.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .planck{
        background-image: url("images/personalities/planck.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .mao{
        background-image: url("images/personalities/mao.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .ali{
        background-image: url("images/personalities/ali.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }
    .roosevelt{
        background-image: url("images/personalities/roosevelt.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .senna{
        background-image: url("images/personalities/senna.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .plato{
        background-image: url("images/personalities/plato.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .darwin{
        background-image: url("images/personalities/darwin.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .heisenberg{
        background-image: url("images/personalities/heisenberg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .vasco{
        background-image: url("images/personalities/vasco.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .putin{
        background-image: url("images/personalities/putin.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .freud{
        background-image: url("images/personalities/freud.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .monroe{
        background-image: url("images/personalities/monroe.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .mendeleev{
        background-image: url("images/personalities/mendeleev.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .voltaire{
        background-image: url("images/personalities/voltaire.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }





/*****************************************************************************************************/
    .color-hidden {
        background-color: grey;
        background-image: url("https://cdn.britannica.com/68/195168-050-BBAE019A/football.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: no position;
        transform: rotateY(180deg);
    }

    .founded .back {
        cursor: default;
        animation: right 1s
    }

    .wrong .back{
        cursor: default;
        animation: wrong 1s;
    }

    .btn {
        width: 130px;
        height: 60px;
        border: 2px solid white;
        border-radius: 50px;

        color: white;
        font-weight: bold;
        background-color: rgba(31, 31, 31, 0);


    }

    .btn:hover {
        cursor: pointer;
        background-color: rgb(78, 78, 136);
        box-shadow: 0px 0px 10px 5px rgb(78, 78, 136);


    }
    #message{
        display:none;
        font-weight:bold;
        font-size:40px;
        color:white;
        text-align:center;
        margin:20px auto;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);

    }
    #baby_appear{
        margin:auto;
        position:absolute;
        right:50%;
        top:100%;/*89%*/
        width:220px;
        transform:translate(50%);
        background-image:url('/images/baby.png');
        background-size:contain;
        height:170px;
        background-repeat:no-repeat;
        
    }

    .babyAnimation{
        animation:babyAppear 1.5s 
    }
    .godlike{
        /* background:url("/images/god.png"); */
        animation:godLike 3s
    }



    @keyframes right {

        40% {
            background-color: green;
            

        }

        60% {
            background-color: rgb(253, 247, 247);
        }

        80% {
            background-color: green;
        }

    }


    @keyframes wrong {

        40% {
            background-color: red;

        }

        60% {
            background-color: rgb(253, 247, 247);
        }

        80% {
            background-color: red;
        }
    }

    
    @keyframes rightChoice {

        0%{
            transform:translate(-50%,-50%)scale(0);
        }


        /* 10% {
           color: green
         
        } */

        20% {
            color: rgb(253, 247, 247);
            text-shadow: 0px 0px 10px 5px rgb(253, 247, 247);
        } 
        /* 30% {
            color: green
        }  */
        40% {
            color: green;
           text-shadow: 0px 0px 10px 5px green;
        } 
        /* 50% {
            color: green
        }  */
        60% {
            color: rgb(253, 247, 247);
           text-shadow: 0px 0px 10px 5px rgb(253, 247, 247);
        } 
        /* 70% {
            color: green
        }  */
        80% {
            color: green;
            text-shadow: 0px 0px 10px 5px green;
        } 
        /* 90% {
            color: green
        }  */

        100%{
            transform:translate(-50%,-50%)scale(1.8);
            text-shadow: 0px 0px 10px 5px green;
        }

     }
     @keyframes bodyBackground{
        
        20%{
            background:black;
            color:red;
        }
        40%{
            background:transparent;
            color:red;
        }
        60%{
            background:black;
            color:red;
        }
        80%{
            background:transparent;
            color:red;
        }
        100%{
            background:black;
            color:red
        }
     }

     
    @keyframes babyAppear {

    

        30% {
            top:89%
        }
        70%{
            top:89%
        }

      

    }
    @keyframes godLike{
        0%{
            
            background:white;
          
        }
        20%{
            background:url("images/god.png")no-repeat fixed top center;
            background-size:cover;
            
        }
        50%{
            background:white;
            
        }
       70%{
            background:url("images/god.png")no-repeat fixed top center;
            background-size:cover;
            
        }
        /* 50%{
            background:white;
           
        }
        60%{
            
            background:url("images/god.png")no-repeat fixed top center;
            background-size:cover;
          
        }
        70%{
            background:white;
            
        } */
       /* 80%{
        background:url("images/god.png")no-repeat fixed top center;
        background-size:cover;
            
        } */
        100%{
            background:white;
            
        }
        /* 100%{
            background:url("images/god.png")no-repeat fixed top center;
            background-size:cover;
           
        } */

    }

    @keyframes heaven{
        0%{
            
            background:white;
          
        }
        20%{
            background:url("images/heaven.jpg")no-repeat fixed top center;
            background-size:cover;
            
        }
        50%{
            background:white;
            
        }
       70%{
             background:url("images/heaven.jpg")no-repeat fixed top center;
            background-size:cover; 
            
        }
       
        100%{
            background:white;
            
        }
       

 
       
       

    }



    .disable {
        pointer-events: none;
    }
